.slider{
    position: relative;
    height: auto;
    max-width: 2400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #222222;
}

.slider-img{
    max-width: 2400px;
    width: 90%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: -10px 5% 0 ;
}

.slider-inter{
    color: #ff0000;
    text-align: center;
}

.slider-p{
    max-width: 2400px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
}

.slider-a{
    text-decoration: none;
    color: #ff0000;
}

.slider-a:hover{
    color: white;
}

.right-arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #ff0000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.right-arrow:hover{
    color: white;
}

.left-arrow{
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #ff0000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow:hover {
    color: white;
}