.header-box{
    max-width: 2400px;
    width: 100%;
    background-color: #222222;
}

.header-box-container{
    max-width: 2400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.header-box-container .header-logo{
    flex-basis: 433px;
    padding: 20px;
    width: 290px;
}

.header-box-menu{
    flex-basis: calc(100% - 533px);
    display: flex;
    justify-content: flex-end;
}

.header-box-menu ul{
    display: flex;
    text-align: stretch;
}

.header-box-menu ul li{
    list-style: none;
    display: flex;
    align-items: center;
}

.header-box-menu ul li a{
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: #ff0000;
    height: 100%;
}

.header-box-menu a:hover{
    background-color: #ff0000;
    color: white;
}