.area-botao {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.botao-voltar {
  padding: 20px;
  text-decoration: none;
  background-color: #ff0000;
  color: #ffffff;
  font-weight: 700;
}

.botao-voltar:hover{
  background-color:#ffffff;
  color: #ff0000;
}