*{
    background-color: #222222;
}
.news-box{
    max-width: 1400px;
    width: 100%;
    padding: 0 0px;
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-box-title{
    flex-basis: 100%;
    margin: 10px 0;
}

.news-box-title h1{
    font-size: 2.5em;
    color: #f00000;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.news-box-new{
    max-width: 30%;
    display: flex;
    flex-basis: calc(25% - 20px);
    justify-content: space-between;
    margin: 0 -27px 0 0;
    opacity: 0.8;
}

.news-box-new:hover{
    opacity: 1;
}

.news-box-new h2{
    margin-left: 20px;
    margin-bottom: 20px;
}

.news-box-new p{
    margin-left: 20px;
    margin-bottom: 30px;
    text-align: justify;
    flex-basis: 1%;
}

.news-box-new a{
    text-decoration: none;
    color: #f00000;
}

.news-box-new a:hover{
    color:white;
}